@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: 'Rubik';
  font-size: 12px;
  color: #616161;
}

[class*="__container"] {
  width: 1072px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1085px) {
  [class*="__container"] {
    max-width: 950px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* --------------------------------------------- */

@media (max-width: 767.98px) {
  .menu__body {}
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 30;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 114px;
}

.main {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__body {
  display: flex;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 40px;
}

.menu__link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #000000;
  transition: all .5 ease;
}

.menu__link:hover {
  text-decoration: underline;
}

.header__btn {
  position: relative;
  z-index: 5;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color 0.4s ease;
}

.btn:hover {
  background-color: #ef1221;
}

.btn__blue {
  background-color: #4285F4;
}

.btn__blue:hover {
  background: #0863f6;
}

/* ------------------------------------ */

.get__started {
  background: #FAFBFD;
}

.get__started__container {
  padding: 150px 15px 50px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.get__started__container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(100%);
  right: 255px;
  top: 0px;
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
}

.get__started--content {
  flex: 0 1 48%;
  padding: 0px 20px;
}

.get__started--block__text {
  max-width: 410px;
  width: 100%;
}

.block__text--title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 12px;
  line-height: 126%;
  color: #000000;
}

.block__text--title span {
  color: #EC5863;
}

.block__text--title--blue span {
  color: #4285F4;
}

.block__text--text {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  margin-bottom: 24px;
}

.get__started--img {
  position: relative;
  z-index: 2;
  flex: 0 1 52%;
}

.get__started--img img {
  max-width: 100%;
}

.get__started--video {
  flex: 1 1 100%;
  padding: 60px 0px 0px 20px;
}

.video--get__started {
  display: inline-flex;
  align-items: center;
}

.video--get__started--icon {
  flex: 0 0 44px;
  border-radius: 50%;
}

.video--get__started--body {
  margin-left: 12px;
}

.video--get__started--title {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
  margin-bottom: 5px;
}

.video--get__started--text {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
}


/* ------------------------------------- */

.stay__safe {
  padding: 80px 0px;
}

.stay__safe__container {
  display: flex;
  align-items: center;
}

.stay__safe--media {
  flex: 0 1 50%;
  position: relative;
}

.stay__safe--block__text {
  flex: 0 1 50%;
}

.stay__safe--img {}

.stay__safe--img img {
  position: relative;
  z-index: 3;
  max-width: 100%;
}


.stay__safe--decor {
  position: absolute;
  width: 77px;
  height: 77px;
  background: #EC5863;
  border-radius: 30px;
}

.stay__safe--decor1 {
  top: 779px;
  width: 147px;
  height: 147px;
}

.stay__safe--decor2 {
  left: 33px;
  bottom: 0;
}

.stay__safe--decor3 {}

/* ------------------------------------- */